<%- include('../partials/admin-head') %>
<body>
    <header>
        <nav class="nav-bar">
            <div class="top-nav-bar">
                <div class="top-nav-bar-left">
                    <a href="/">
                        <img src="/images/logo-transparent.png" alt="Logo">
                    </a>
                </div>
                <div class="top-nav-bar-right">
                    <div class="search-bar">
                        <form class="search-bar">
                            <label for="searchTextBar" id="searchTextBar-label">Empty</label>
                            <input type="text" id="searchTextBar" name="searchTextBar">
                            <label for="search-bar-btn" id="search-bar-btn-label">
                                <button type="submit" id="search-bar-btn">
                                    <img alt="search icon" src="/images/search.png">
                                </button>
                            </label>
                        </form>
                    </div>

                    <div class="top-nav-bar-right-div">
                        <a href="<%= loggedIn ? '/cart/getCart/' + user_id : '/auth/login' %>">
                            <img alt="Neptune's Nook Shopping Cart Image" src="/images/shopping-cart.png">
                        </a>
                    </div>
                    <div class="top-nav-bar-right-div" id="drop-down-nav-div">
                        <% if (!loggedIn) { %>
                            <a href="/auth/login">
                                <img alt="Neptune's Nook Account Image" src="/images/user.png">
                            </a>
                        <% } else { %>
                            <img alt="Neptune's Nook Account Image" src="/images/user.png">
                            <div class="dropdown-div">
                                <% if (user_type === 'admin') { %>
                                    <a href="/user/admin/bulk-upload">Bulk Upload</a>
                                    <a href="/products/admin/product-edit">Product Edit</a>
                                <% } %>
                                <a href="/auth/logout">Logout</a>
                            </div>
                        <% } %>
                    </div>

                    <div id="top-nav-bar-right-ham-div">
                        <button type="button" onclick="displayBottomNav()">
                            <img alt="hamburger button" src="/images/menu.png" id="top-nav-bar-right-ham-img">
                        </button>

                    </div>
                </div>
            </div>
            <div id="bottom-nav-bar">
                <div id="search-bar-bottom-div">
                    <form class="search-bar-bottom">
                        <label for="searchTextBar-bottom" id="searchTextBar-label-2">Empty</label>
                        <input type="text" id="searchTextBar-bottom" name="searchTextBar-bottom">
                        <label for="search-bar-bottom-btn">
                            <button type="submit" id="search-bar-bottom-btn">
                                <img alt="search icon" src="/images/search.png">
                            </button>
                        </label>
                    </form>
                </div>
                <ul>
                    <li>
                        <a href="/products/category/1">
                            Fish Tanks
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/2">
                            Tank Supplies
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/3">
                            Tank Decor
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/4">
                            Fish
                        </a>
                    </li>
                </ul>
            </div>
            <div id="bottom-nav-bar-admin">
                <ul>
                    <li>
                        <a href="/user/admin/bulk-upload">
                            Bulk Upload Products
                        </a>
                    </li>
                    <li>
                        <a href="/products/admin/product-edit">
                            Edit Product
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>

        <div class="filtering-div">
            <h3>Filtering:</h3>
            <form class="search-bar-filter">
                <label for="search-bar-filter-input" id="search-bar-filter-label">Empty</label>
                <input type="text" id="search-bar-filter-input" name="search-bar-filter-input">
                <label for="search-bar-filter-btn" id="search-bar-filter-btn-label">
                    <button type="submit" id="search-bar-filter-btn">
                        <img alt="search icon" src="/images/search.png">
                    </button>
                </label>
            </form>
            <h3>Categories:</h3>
            <form class="form-filter">
                <fieldset>
                    <div>
                        <input type="radio" id="option-fish-tanks" name="option-category" value="option-fish-tanks">
                        <label for="option-fish-tanks">Fish Tanks</label>
                    </div>
                    <div>
                        <input type="radio" id="option-tank-supplies" name="option-category"
                            value="option-tank-supplies">
                        <label for="option-tank-supplies">Tank Supplies</label>
                    </div>
                    <div>
                        <input type="radio" id="option-tank-decor" name="option-category" value="option-tank-decor">
                        <label for="option-tank-decor">Tank Decor</label>
                    </div>
                    <div>
                        <input type="radio" id="option-fish" name="option-category" value="option-fish">
                        <label for="option-fish">Fish</label>
                    </div>
                </fieldset>
                <button type="submit" id="filtering-btn">Filter</button>
            </form>
        </div>

        <div class="products-listing-container">
            <div id="products-listing-container-heading">
                <h3>Products:</h3>
                <button type="button" id="create-product-btn" onclick="displayCreateProduct()">Create</button>
            </div>

            <form id="product-listing-add" class="product-listing-add-hidden" action="/products/admin/create-product" method="post">        
                <div class="listing-div">
                    <label for="product-name">Product Name:</label>
                    <input type="text" id="product-name" name="productName">
                </div>

                <div class="listing-div">
                    <label for="product-sci-name">Product Scienific Name:</label>
                    <input type="text" id="product-sci-name" name="productSciName">
                </div>  
        
                <div class="listing-div">
                    <label for="product-desc">Product Description:</label>
                    <textarea id="product-desc" name="productDesc"></textarea>
                </div>

                <div class="listing-div">
                    <label>Product Category: </label>
                    <select id="product-cate" name="productCate">
                        <option value="1">Fish Tanks</option>
                        <option value="2">Fish Tank Supplies</option>
                        <option value="3">Tank Decor</option>
                        <option value="4">Fish</option>
                    </select>
                </div>
        
                <div class="listing-div">
                    <label for="product-img-path">Product Image Path:</label>
                    <input type="text" id="product-img-path" name="productImgPath">
                </div>
        
                <div class="listing-div">
                    <label for="product-price">Product Price:</label>
                    <input type="number" id="product-price" name="productPrice">
                </div>

                <div class="listing-div">
                    <label for="product-featured">Featured (0 = no, 1 = yes):</label>
                    <input type="number" id="product-featured" name="productFeatured" min="0" max="1">
                </div>  
        
                <div class="listing-btn-div">
                    <label>Actions:</label>
                    <div>
                        <button type="submit" class="save-btn">Save</button>
                    </div>
                </div>
            </form>

            <% products.forEach(function(product) { %>
                <form id="product-listing-<%= product.product_id %>" class="product-listing" action="/products/admin/product-edit/update" method="post">
                    <div class="listing-div">
                        <label for="product-id-<%= product.product_id %>">Product ID:</label>
                        <input type="number" id="product-id-<%= product.product_id %>" name="productId" value="<%= product.product_id %>" readonly>
                    </div>
            
                    <div class="listing-div">
                        <label for="product-name-<%= product.product_id %>">Product Name:</label>
                        <input type="text" id="product-name-<%= product.product_id %>" name="productName" value="<%= product.product_name %>" readonly>
                    </div>

                    <div class="listing-div">
                        <label for="product-sci-name-<%= product.product_id %>">Product Scienific Name:</label>
                        <input type="text" id="product-sci-name-<%= product.product_id %>" name="productSciName" value="<%= product.sci_name %>" readonly>
                    </div>  
            
                    <div class="listing-div">
                        <label for="product-desc-<%= product.product_id %>">Product Description:</label>
                        <textarea id="product-desc-<%= product.product_id %>" name="productDesc"><%= product.product_desc %></textarea readonly>
                    </div>

                    <div class="listing-div">
                        <label>Product Category: </label>
                        <select id="product-cate-<%= product.product_id %>" name="productCate" disabled>
                            <option value="1" <%= product.category_id == 1 ? 'selected' : '' %>>Fish Tanks</option>
                            <option value="2" <%= product.category_id == 2 ? 'selected' : '' %>>Fish Tank Supplies</option>
                            <option value="3" <%= product.category_id == 3 ? 'selected' : '' %>>Tank Decor</option>
                            <option value="4" <%= product.category_id == 4 ? 'selected' : '' %>>Fish</option>
                        </select>
                    </div>
            
                    <div class="listing-div">
                        <label for="product-img-path-<%= product.product_id %>">Product Image Path:</label>
                        <input type="text" id="product-img-path-<%= product.product_id %>" name="productImgPath" value="<%= product.product_img_url %>" readonly>
                    </div>
            
                    <div class="listing-div">
                        <label for="product-price-<%= product.product_id %>">Product Price:</label>
                        <input type="number" id="product-price-<%= product.product_id %>" name="productPrice" value="<%= product.product_price %>" readonly>
                    </div>

                    <div class="listing-div">
                        <label for="product-featured-<%= product.product_id %>">Featured (0 = no, 1 = yes):</label>
                        <input type="number" id="product-featured-<%= product.product_id %>" name="productFeatured" value="<%= product.featured_bool %>" min="0" max="1" readonly>
                    </div>  
            
                    <div class="listing-btn-div">
                        <label>Actions:</label>
                        <div>
                            <button type="submit" class="save-btn hidden">Save</button>
                        </div>
                        <button type="button" class="edit-btn" onclick="makeProductEdit(<%= product.product_id %>)">Edit</button>
                    </div>
                </form>
            <% }); %>

        </div>

    </main>
    <footer>
        <div class="footer-div">
            <ul class="footer-ul-left">
                <li class="ul-li-heading">
                    <h2>Categories</h2>
                </li>
                <li><a href="/products/category/1">Fish Tanks</a></li>
                <li><a href="/products/category/2">Fish Tank Supplies</a></li>
                <li><a href="/products/category/3">Tank decor</a></li>
            </ul>
            <ul class="footer-ul-right">
                <li class="ul-li-heading">
                    <h2>Services</h2>
                </li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Tank Installation</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="footer-ul-right" id="footer-copyright">
                <li class="ul-li-heading">
                    <h2>Neptune's Nook &copy;</h2>
                </li>
                <li>All rights reserved.</li>
            </ul>
        </div>
    </footer>
</body>

</html>