<%- include('../partials/head') %>
<body>
    <header>
        <nav class="nav-bar">
            <div class="top-nav-bar">
                <div class="top-nav-bar-left">
                    <a href="/">
                        <img src="/images/logo-transparent.png" alt="Logo">
                    </a>
                </div>
                <div class="top-nav-bar-right">
                    <div class="search-bar">
                        <form class="search-bar">
                            <label for="searchTextBar" id="searchTextBar-label">Empty</label>
                            <input type="text" id="searchTextBar" name="searchTextBar">
                            <label for="search-bar-btn" id="search-bar-btn-label">
                                <button type="submit" id="search-bar-btn">
                                    <img alt="search icon" src="/images/search.png">
                                </button>
                            </label>
                        </form>
                    </div>

                    <div class="top-nav-bar-right-div">
                        <a href="<%= loggedIn ? '/cart/getCart/' + user_id : '/auth/login' %>">
                            <img alt="Neptune's Nook Shopping Cart Image" src="/images/shopping-cart.png">
                        </a>
                    </div>
                    <div class="top-nav-bar-right-div" id="drop-down-nav-div">
                        <% if (!loggedIn) { %>
                            <a href="/auth/login">
                                <img alt="Neptune's Nook Account Image" src="/images/user.png">
                            </a>
                        <% } else { %>
                            <img alt="Neptune's Nook Account Image" src="/images/user.png">
                            <div class="dropdown-div">
                                <% if (user_type === 'admin') { %>
                                    <a href="#">Bulk Upload</a>
                                    <a href="#">Product Edit</a>
                                <% } %>
                                <a href="/auth/logout">Logout</a>
                            </div>
                        <% } %>
                    </div>

                    <div id="top-nav-bar-right-ham-div">
                        <button type="button" onclick="displayBottomNav()">
                            <img alt="hamburger button" src="/images/menu.png" id="top-nav-bar-right-ham-img">
                        </button>

                    </div>
                </div>
            </div>
            <div id="bottom-nav-bar">
                <div id="search-bar-bottom-div">
                    <form class="search-bar-bottom">
                        <label for="searchTextBar-bottom" id="searchTextBar-label-2">Empty</label>
                        <input type="text" id="searchTextBar-bottom" name="searchTextBar-bottom">
                        <label for="search-bar-bottom-btn">
                            <button type="submit" id="search-bar-bottom-btn">
                                <img alt="search icon" src="/images/search.png">
                            </button>
                        </label>
                    </form>
                </div>
                <ul>
                    <li>
                        <a href="/products/category/1">
                            Fish Tanks
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/2">
                            Tank Supplies
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/3">
                            Tank Decor
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/4">
                            Fish
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="products-container-div">
            <aside class="products-filter-aside">
                <h1>Filters</h1>
                <form class="products-filter-form">
                    <div class="label-div">
                        <h4>Tank Gallons</h4>
                        <fieldset>
                            <div>
                                <input type="radio" id="tank-ten-gallons" name="tank-gallons" value="tank-ten-gallons">
                                <label for="tank-ten-gallons">Up to 10 gallons</label>
                            </div>
                            <div>
                                <input type="radio" id="tank-eleven-gallons" name="tank-gallons"
                                    value="tank-eleven-gallons">
                                <label for="tank-eleven-gallons">Between 11 gallons - 19 gallons</label>
                            </div>
                            <div>
                                <input type="radio" id="tank-twenty-gallons" name="tank-gallons"
                                    value="tank-twenty-gallons">
                                <label for="tank-twenty-gallons">Between 20 gallons - 29 gallons</label>
                            </div>
                            <div>
                                <input type="radio" id="tank-fourty-gallons" name="tank-gallons"
                                    value="tank-fourty-gallons">
                                <label for="tank-fourty-gallons">Between 30 gallons - 49 gallons</label>
                            </div>
                            <div>
                                <input type="radio" id="tank-fifthy-gallons" name="tank-gallons"
                                    value="tank-fifthy-gallons">
                                <label for="tank-fifthy-gallons">From 50 and greater</label>
                            </div>
                        </fieldset>
                    </div>

                    <div class="label-div">
                        <h4>Prices</h4>
                        <fieldset>
                            <div>
                                <input type="radio" id="tank-price-ten" name="tank-prices" value="tank-price-ten">
                                <label for="tank-price-ten">Less than $19</label>
                            </div>
                            <div>
                                <input type="radio" id="tank-price-fourty" name="tank-prices" value="tank-price-fourty">
                                <label for="tank-price-fourty">Between $20 - $49</label>
                            </div>
                            <div>
                                <input type="radio" id="tank-price-fifthy" name="tank-prices" value="tank-price-fifthy">
                                <label for="tank-price-fifthy">Between $50 - $99</label>
                            </div>
                            <div>
                                <input type="radio" id="tank-price-hundred" name="tank-prices"
                                    value="tank-price-hundred">
                                <label for="tank-price-hundred">More than $100</label>
                            </div>
                        </fieldset>
                    </div>

                    <div class="label-div">
                        <h4>Tank Colors</h4>
                        <fieldset>
                            <div>
                                <input type="radio" id="tank-red" name="tank-color" value="tank-red">
                                <label for="tank-red">Red</label>
                            </div>
                            <div>
                                <input type="radio" id="tank-blue" name="tank-color" value="tank-blue">
                                <label for="tank-blue">Blue</label>
                            </div>

                        </fieldset>
                    </div>

                    <div class="label-div">
                        <h4>Product Average Rating</h4>
                        <fieldset>
                            <div>
                                <input type="radio" id="tank-rating-five" name="tank-ratings" value="tank-rating-five">
                                <label for="tank-rating-five">Between 4 - 5</label>
                            </div>
                            <div>
                                <input type="radio" id="tank-rating-four" name="tank-ratings" value="tank-rating-four">
                                <label for="tank-rating-four">Between 3 - 4</label>
                            </div>
                            <div>
                                <input type="radio" id="tank-rating-three" name="tank-ratings"
                                    value="tank-rating-three">
                                <label for="tank-rating-three">Between 2 - 3</label>
                            </div>
                            <div>
                                <input type="radio" id="tank-rating-two" name="tank-ratings" value="tank-rating-two">
                                <label for="tank-rating-two">Between 0 - 2</label>
                            </div>
                        </fieldset>
                    </div>

                </form>
            </aside>

            <section class="products-listing-sections">
                <h1>
                    <%= title %>
                </h1>

                <% for(let i = 0; i < products.length; i+=4) { %>
                    <div class="products-row-div">
                        <% for(let j = i; j < i+4 && j < products.length; j++) { %>
                            <div class="product-div">
                                <img alt="Product <%= j+1 %>" src="<%= products[j].product_img_url %>">
                                <p class="product-div-name">
                                    <strong>
                                        <%= products[j].product_name %>
                                    </strong>
                                </p>
                                <p class="product-div-price">$<%= parseFloat(products[j].product_price).toFixed(2) %></p>
                                <a href="/products/product/<%= products[j].product_id %>"><strong>View</strong></a>
                            </div>
                        <% } %>
                    </div>
                <% } %>

            </section>
        </div>

    </main>
    <footer>
        <div class="footer-div">
            <ul class="footer-ul-left">
                <li class="ul-li-heading">
                    <h2>Categories</h2>
                </li>
                <li><a href="/products/category/1">Fish Tanks</a></li>
                <li><a href="/products/category/2">Fish Tank Supplies</a></li>
                <li><a href="/products/category/3">Tank decor</a></li>
            </ul>
            <ul class="footer-ul-right">
                <li class="ul-li-heading">
                    <h2>Services</h2>
                </li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Tank Installation</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="footer-ul-right" id="footer-copyright">
                <li class="ul-li-heading">
                    <h2>Neptune's Nook &copy;</h2>
                </li>
                <li>All rights reserved.</li>
            </ul>
        </div>
    </footer>
</body>

</html>