<%- include('./partials/head') %>
<body>
    <header>
        <nav class="nav-bar nav-bar-indexp">
            <div class="top-nav-bar">
                <div class="top-nav-bar-left">
                    <a href="/">
                        <img alt="Neptune's Nook Logo" src="images/logo-transparent.png">
                    </a>
                </div>
                <div class="top-nav-bar-right">
                    <div class="search-bar">
                        <form class="search-bar">
                            <label for="searchTextBar" id="searchTextBar-label">Empty</label>
                            <input type="text" id="searchTextBar" name="searchTextBar">
                            <label for="search-bar-btn" id="search-bar-btn-label">
                                <button type="submit" id="search-bar-btn">
                                    <img alt="search icon" src="images/search.png">
                                </button>
                            </label>
                        </form>
                    </div>
                    <div class="top-nav-bar-right-div">
                        <a href="<%= loggedIn ? '/cart/getCart/' + user_id : '/auth/login' %>">
                            <img alt="Neptune's Nook Shopping Cart Image" src="images/shopping-cart.png">
                        </a>
                    </div>
                    <div class="top-nav-bar-right-div" id="drop-down-nav-div">
                        <% if (!loggedIn) { %>
                            <a href="/auth/login">
                                <img alt="Neptune's Nook Account Image" src="../images/user.png">
                            </a>
                        <% } else { %>
                            <img alt="Neptune's Nook Account Image" src="../images/user.png">
                            <div class="dropdown-div">
                                <% if (user_type === 'admin') { %>
                                    <a href="/user/admin/bulk-upload">Bulk Upload</a>
                                    <a href="/products/admin/product-edit">Product Edit</a>
                                <% } %>
                                <a href="/auth/logout">Logout</a>
                            </div>
                        <% } %>
                    </div>
                    <div id="top-nav-bar-right-ham-div">
                        <button type="button" onclick="displayBottomNav()">
                            <img alt="hamburger button" src="images/menu.png" id="top-nav-bar-right-ham-img">
                        </button>
                    </div>
                </div>
            </div>
            <div id="bottom-nav-bar">
                <div id="search-bar-bottom-div">
                    <form class="search-bar-bottom">
                        <label for="searchTextBar-bottom" id="searchTextBar-label-2">Empty</label>
                        <input type="text" id="searchTextBar-bottom" name="searchTextBar-bottom">
                        <label for="search-bar-bottom-btn">
                            <button type="submit" id="search-bar-bottom-btn">
                                <img alt="search icon" src="images/search.png">
                            </button>
                        </label>
                    </form>
                </div>
                <ul>
                    <li>
                        <a href="/products/category/1">
                            Fish Tanks
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/2">
                            Tank Supplies
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/3">
                            Tank Decor
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/4">
                            Fish
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="welcome-splash">
            <h2>Welcome to</h2>
            <h1>Neptune's Nook!</h1>
            <h4>Dive into Neptune's Nook: Where Every Tank Tells a Tail!</h4>
            <a href="#trending-products-div">Start Here</a>
        </div>
        <div id="trending-products-div">
            <h1>Trending Products</h1>
            <div id="trending-products-container-div">
                <% products.forEach(function(product) { %>
                    <div class="product-div">
                      <img alt="<%= product.product_name %>" src="<%= product.product_img_url %>">
                      <p class="product-div-name">
                        <strong>
                          <%= product.product_name %>
                        </strong>
                      </p>
                      <p class="product-div-price">$<%= parseFloat(product.product_price).toFixed(2) %></p>
                      <a href="/products/product/<%= product.product_id %>"><strong>View</strong></a>
                    </div>
                  <% }); %>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-div">
            <ul class="footer-ul-left">
                <li class="ul-li-heading">
                    <h2>Categories</h2>
                </li>
                <li><a href="/products/category/1">Fish Tanks</a></li>
                <li><a href="/products/category/2">Fish Tank Supplies</a></li>
                <li><a href="/products/category/3">Tank decor</a></li>
            </ul>
            <ul class="footer-ul-right">
                <li class="ul-li-heading">
                    <h2>Services</h2>
                </li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Tank Installation</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="footer-ul-right" id="footer-copyright">
                <li class="ul-li-heading">
                    <h2>Neptune's Nook &copy;</h2>
                </li>
                <li>All rights reserved.</li>
            </ul>
        </div>
    </footer>
</body>

</html>